# 排除不需要打包的文件
.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
copy-templates.js
esbuild.js
!template/**
!dist/**